@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.nav-box {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-basis: 1600px;
    background: rgba(0,0,0,0.2);
    color: white;

}
nav{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0.1);
    text-transform: uppercase;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
nav a:visited,a:link{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #ff1aff;
}
ul{
    list-style: none;
    display: flex;
    flex-basis: 300px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
li{
    padding-right: 5px;
}

.active-menu-link {
    border-bottom: none;
}

.default-menu-link {
    border-bottom: 1px solid white;
}
.logout-button{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    width: 50px;
    height: 25px;
    color:white;
    background:rgba(0,0,0,0.2) ;
    border: none;
    border-radius: 10px;
}
.logout-button:hover{
    cursor: pointer;
    background: white;
    color: #ff1aff;
}